<div class="modal" tabindex="-1" role="dialog" aria-labelledby="{{'labelled-' + id}}" aria-hidden="true">
	<div class="modal-dialog {{#size=='small'}}modal-sm{{/()}}">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="{{'labelled-' + id}}">{{>headerContent}}</h4>
			</div>
			<div class="modal-body {{#align=='left'}}leftAlignBody{{/()}}">
	        	{{>bodyContent}}
			</div>
			<div class="modal-footer">
				{{>footerContent}}
			</div>
		</div>
	</div>
</div>